# Python cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Data (generated/fetched)
data/raw/*
data/processed/*
!data/raw/
!data/processed/

# Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db
